<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Veterenar List</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="springguru.petclinic.model.Veterenar"*/-->
<h1 th:text="'Veterenar List'">Veterenar List</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th: th:each="vet : ${veterenar}">
        <td th: th:text="${vet?.id}">1</td>
        <td th: th:text="${vet?.firstName}">Bob</td>
        <td th: th:text="${vet?.lastName}">Buggur</td>
    </tr>
    </tbody>
</table>
</body>
</html>